//general
$fontSize: 16px !default;
// $fontFamily:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$mobileBreakpoint: 991px !default;
// $borderRadius:24px !default;
$animationDuration: 0.2s !default;
$animationTimingFunction: cubic-bezier(0.05, 0.74, 0.2, 0.99) !default;
$letterSpacing: 0.02em !default;
$transitionDuration: 0.2s !default;
$tabletBreakpoint: 991px !default;
$laptopBreakpoint: 1024px !default;
$desktopBreakpoint: 1280px !default;
$phoneBreakpoint: 576px !default;

$visible-properties: (
'visible': 'visible',
'invisible': 'hidden'
);
